<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAD3h08qYlbwZPbCjuo4Fn9ufd97M8hB2w</string>
	<key>GCM_SENDER_ID</key>
	<string>140873861355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.davesCakes</string>
	<key>PROJECT_ID</key>
	<string>koba-8ed9e</string>
	<key>STORAGE_BUCKET</key>
	<string>koba-8ed9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140873861355:ios:3ec9ad6a321fbc90cb16ae</string>
</dict>
</plist>